@font-face{
    font-family: 'Great Vibes';
    src: url('../fonts/GreatVibes-Regular.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'Pattaya';
    src: url('../fonts/Pattaya-Regular.ttf');
    font-display: swap;
}

@font-face {
    font-family: "Cormorant";
    src: url('../fonts/CormorantGaramond-Regular.ttf');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant';
    src: url('../fonts/CormorantGaramond-SemiBold.ttf');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Miama';
    src: url('../fonts/Miama.otf');
    font-display: swap;
}