:root {
    --color-bg: rgb(200, 200, 200);
    --color-text: rgb(20, 21, 21);
    --color-purple: rgb(183, 132, 179);

    --font-family-base: 'Cormorant', sans-serif;
    --font-family-header: 'Great Vibes', sans-serif;
    --font-family-accent: 'Pattaya', sans-serif;

    --section-size: 1400px;

    --container-width: 1100px;
    --container-width-mobile: 760px;
    --container-padding-x: 150px;
}